body{
  font-family: "Montserrat";
  width: 80%;
  padding: 0% 10%;
}

header {
  padding: 15px;
  text-align: center;
/*
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; */

  /* width: 100%; */
  margin: 0% -15%;
  background-color: #1c1c1c;
}

nav ul{
  background-color: #0093FF;
  border-radius: 30px;
  padding: 0 10px 0 20%;
  margin-left: -20%;
  display: flex;
  flex-wrap: wrap;
}

nav li{
  list-style: none;
  padding: 10px 0;
}

nav li:first-child{

}

nav a {

  padding: 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: white;
  border: 1px solid #0093FF;
  border-radius: 30px;
  color: #0093FF;
}

header img {
  position: absolute;
  top : 10px;
  left: 40px;
  width: 8%;
}

h1{
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  background-image: linear-gradient(to bottom right, #24A3FF, #b44ae9);
  /* background-image: -webkit-linear-gradient(#557bd8, #b44ae9); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 5px;
}

h2 {
  background-color: #0093FF;
  padding: 10px 0px 10px 20%;
  margin: 0% 60% 0% -20%;
  border-radius: 30px;
  /* display: inline-block; */
}

h3{
  font-weight: 600;
}

article {
  margin: 20px;
}

em{
  color: #0093FF;
}
a{
  font-weight: 600;
}
